/* Add some css styles based on the tutorial at javascript.info: introduction to browser events
 https://javascript.info/introduction-browser-events */

.container{
    position: relative;
    width: 400px;
    padding: 10px 40px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background: #eee;
}

.container img{
    width: 150px;
    height: 150px;
    display: block;
}

.list_pic{
    width: 400px;
    overflow: hidden;
}

.list_pic li{
    display: inline-block;
}

.list_pic ul{
    height: 140px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;   
}

.prev {
    left: 6px;
}

.next {
    right: 6px;
}

.arrow{
    position: absolute;
    top: 60px;
    background: rgb(204, 204, 204);
    border-radius: 15px;
    border: 1px gray;
    font-size: 24px;
    line-height: 24px;
    color: #444;
    display: block;
}

.arrow:focus {
    outline: none;
}

.arrow:hover {
    background: #ccc;
    cursor: pointer;
}

