.main {
  background: red;
  height: 150 px; 
  width: 150px;
}

.second {
  background: lightseagreen;
  height: 50px;
  width: 50px;
}

.box {
  display: block;
  height: 50px;
  width: 50px;
  background: lightblue;
}

.slider {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background: red;
  border-radius: 4px;
}
